.body {
  font-family: "Rockwell";
}
table {
  margin-top: 30px;
  margin-left: 25%;
  border: 5px solid white;
  padding: 5px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
td {
  padding: 10px 20px;
}
th {
  padding: 10px 20px;
}
#order-btn {
      margin-left: 55rem;
        padding: 0.5rem;
        margin-top: -1rem;
        margin-bottom: -1rem;
}
#total-el {
  margin-left: 45%;
  font-size: 20px;
}
form {
  margin-top: 30px;
  margin-left: 520px;
}
input {
  margin-top: 10px;
}
button {
  margin-top: 40px;
}
#pay {
  margin-left: 40px;
}
body {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/WhatsApp\ Image\ 2023-07-22\ at\ 18.05.33.jpeg) center/cover
      fixed no-repeat;
}
button {
  cursor: pointer;
  border-radius: 3px;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  border: 2px solid white;
  background: black;
  color: white;
  padding: 2px 5px;
  margin-bottom: 5px;
}
#total-el {
  margin-left: 45%;
  font-size: 2rem;
}